/* Reset CSS para zerar margens e definir uma fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('blurry-gradient-haikei.svg');
    background-size: cover;
}

/* Estilo da barra de navegação */
nav {
    background-color: #22223b;
    overflow: hidden;
    padding: 10px;
}
 
/* Estilo do título na barra de navegação */
nav h2 {
    color: #ffffff; /* Texto branco */
    float: left; /* Alinha o título à esquerda dentro do elemento nav */
    margin: 0;
}

/* Estilo dos botões na barra de navegação */
#login {
    float: right; /* Alinha os botões à direita dentro do elemento nav */
    background-color: #ffffff; /* Cor de fundo dos botões */
    color: #22223b; /* Cor do texto nos botões */
    border: none;
    padding: 5px 15px; /* Espaçamento interno dos botões */
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 10px; /* Espaçamento entre os botões */
    cursor: pointer; /* Altera o cursor para indicar que os botões são clicáveis */
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 60%; /* Aumentando a largura da tabela para 95% */
    margin: 50px auto; /* Centraliza a tabela na página */
    font-size: 18px;
}

button {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#visualizar {
    background-color: #5b2a86;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 6px;
}

#sair {
    color: #22223b;
    border: none;
}

#style_table th,
#style_table td {
    border: 1px solid gainsboro;
    text-align: center;
    padding: 20px;
}

/* Estilo da div de cadastro */
.cadastro {
    display: flex; /* Usando flexbox para controle de layout */
    flex-direction: column;
    align-items: left; /* Alinha os itens verticalmente ao centro */
    margin-top: 40px;
    gap: 25px; /*  Espaça os itens da div de forma igual ps: utilizar o display flex */
    padding-left: 25px;
}  


.linha {
    border-top: 2px solid #22223b;
    width: 95%; /* Defina a largura desejada */
}

.sistema {
    width: 60%; /* Aumentando a largura da tabela */
    margin: 50px auto; /* Centraliza a tabela na página */;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 1px;
}

/* CADASTRO TURMA */

h1, h4 {
    color: #231942;
    margin-top: 30px;
}

.login #item {
    align-items: center;
}

.error-message {
    color: red;
}

.input-group {
    display: flex;
    gap: 40px; /* Espaçamento entre os inputs */
}

.input-wrapper {
    flex: 1; /* Ocupa todo o espaço disponível */
}

.input-wrapper h4 {
    margin-bottom: 5px; /* Ajuste opcional */
}

.input-wrapper input {
    width: 100%; /* Ocupa todo o espaço disponível no input-wrapper */
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gainsboro;
}

#cadastro-button {
    padding: 8px 16px; /* Reduzindo o padding */
    border-radius: 4px; /* Ajustando o raio da borda */
    background-color: #c9184a;
    color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 50px;
    height: 35px;
}

